/* Size */
$default-indent: 10px;
$s-navigation: 60px;
$s-message-panel: 89px;

/* Colors */

$color-primary: #1B5E20;
$color-primary-opposite: #FFFFFF;
$color-secondary: #66BB6A;
$color-assets: #FFCA28;
$color-background: tint(#E8F5E9, 50%);
$color-outline: shade($color-primary, 10%);

/* Font */
$ffamily-primary: ('Roboto', sans-serif);

$fsize-message: 20px;
$fsize-button: 16px;
$fsize-input: 16px;

/* Other */
$border-radius: 3px;
$cursor-hover: pointer;

/* Components */
$bg-tabs: inherit;
$bg-input: tint($color-secondary, 20%);
$tabs-underline: 3px;
$height-tabs: 60px;
$padding-tabs: 10px;
$input-padding: 7px;
