.navigation {
  display: flex;
  align-items: center;
  height: $s-navigation;
  color: $color-primary-opposite;
  background-color: $color-primary;

  &-logo {
    @include button-constructor($color-primary);
    height: 100%;
  }
  &__flat-btn {
    font-size: $fsize-button;
    color: $color-primary-opposite;
  }
}

.navigation-button {
  @include button-constructor($color-primary);
  height: 100%;

}
