.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $default-indent;
  min-width: 100%;
  min-height: calc(100vh - #{$s-navigation});
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  border-radius: $border-radius;
  background-color: #FFFFFF;
  @include for-phone {
    width: 95vw;
  }


}

.login-status {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-size: 10px;
  font-style: italic;
  &--success {
    color: green;
  }
  &--error {
    color: red;
  }
}
