.message-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - #{$s-navigation} - #{$s-message-panel});
  overflow: auto;
  overflow-x: hidden;
  padding: $default-indent;
  box-sizing: border-box;
}

.message-card {
  display: flex;
  margin-bottom: $default-indent;
  justify-content: flex-start;


  &__body {
    display: inline-flex;
    flex-direction: column;
    border-radius: $border-radius;
    padding: $default-indent/2 $default-indent;
    font-size: $fsize-message;
    max-width: 70vh;
    background-color: #FFFFFF;

    &--own {
      color: #FFFFFF;
      background-color: $color-secondary;
    }
  }

  &--own {
    justify-content: flex-end;
  }
}

.message-card-header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5px;

  &__title {
    font-style: italic;
    font-weight: 500;
    font-size: $fsize-message - 4px;


    color: $color-primary;
  }

  &__controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 0;
    font-size: $fsize-message / 2;
    border: none;
    border-radius: 50%;
    color: $color-primary;
    background-color: inherit;
  }
}
