.side-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 2px solid $color-secondary;
}

.side-menu-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    color: $color-primary;
    background-color: inherit;
    &--list-item {
      width: 30px;
      height: 30px;
      margin: 0;
    }
  }
}

.contact-card {
  display: inline-flex;
  align-items: center;
  min-height: 60px;
  padding: 15px;
  font-family: $ffamily-primary;
  font-weight: 500;
  border: none;
  background-color: inherit;
  &--hover:hover {
    color: $color-primary-opposite;
    background-color: tint($color-secondary, 30%);
  }
  &--active {
    color: $color-primary-opposite;
    background-color: tint($color-secondary, 30%);
  }
}
